#board{
    background-image: url(./mariobackground.png);
    text-align: center;
}
body {
    font-family:'Courier New', Courier, monospace;
    text-align:center ;
    background-color:skyblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}